[submodule "event-service"]
	path = event-service
	url = git@github.com:oyvindBjerke/event-service.git
[submodule "calendar-javafx"]
	path = calendar-javafx
	url = git@github.com:michael-johansen/calendar-javafx.git
[submodule "mailApi"]
	path = mailApi
	url = https://github.com/mathiamo/mailApi.git
[submodule "user-service"]
	path = user-service
	url = git@github.com:oyvindBjerke/user-service.git
[submodule "health-check-service"]
	path = health-check-service
	url = git@github.com:oyvindBjerke/health-check-service.git
[submodule "event-aggregator"]
	path = event-aggregator
	url = https://github.com/gjermund/event-aggregator.git
